<html>
    <head>
        <link rel='stylesheet' href='css/index.css'>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="binding">
            <div
                class="static"
                v-bind:class="{ active: isActive, 'text-denger': hasError}"
            >判定をバインディングしている</div>
        </div>
        <div id="object_binding">
            <div class="static" v-bind:class="classObject">オブジェクトをバインディングしている</div>
        </div>
        <div id="compute_binding">
            <div class="static" v-bind:class="classObject">算出プロパティをバインディングしている</div>
        </div>
    </body>
</html>

<script>
    var app = new Vue({
        el: '#binding',
        data: {
            isActive: true,
            hasError: false
        }
    })
    var app2 = new Vue({
        el: '#object_binding',
        data: {
            classObject: {
                active: true,
                'text_denger': true
            }
        }
    })
    var app3 = new Vue({
        el: '#compute_binding',
        data: {
            isActive: true,
            error: null
        },
        computed: {
            classObject: function() {
                return {
                    active: this.isActive && !this.error,
                    'text_denger': this.error && this.error.type === 'fatal'
                }
            }
        }
    })
</script>
