<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="components-demo">
            <button-component></button-component>
            <button-component></button-component>
            <button-component></button-component>
        </div>
        <div id="blog">
            <blog-post title="目次1"></blog-post>
            <blog-post title="目次2"></blog-post>
            <blog-post title="目次3"></blog-post>
        </div>
        <div id="blog-post-demo">
            <blog-components
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:title="post.title"
            ></blog-components>
        </div>
        <div id="blog-post2">
            <blog-post-components
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
            ></blog-post-components>
        </div>
    </body>
</html>

<script>
    Vue.component('button-component', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })

    new Vue({
        el: '#components-demo'
    })
    
    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    })

    new Vue({
        el: '#blog'
    })

    Vue.component('blog-components', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>',
    })

    new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                { id: 1, title: '目次2-1' },
                { id: 2, title: '目次2-2' },
                { id: 3, title: '目次2-3' }
            ]
        }
    })

    Vue.component('blog-post-components', {
        props: ['post'],
        template: `
            <div class="blog-post">
                <h3>{{ post.title }}</h3>
                <div v-html="post.content"></div>
            </div>
        `
    })

    new Vue({
        el: '#blog-post2',
        data: {
            posts: [
                { id: 1, title: '目次3-1', content: '本文3-1<br>改行した<b>太字</b>'},
                { id: 2, title: '目次3-2', content: '本文3-2<br>改行した'},
                { id: 3, title: '目次3-3', content: '本文3-3'},
                { id: 4, title: '目次3-4', content: '本文3-4'},
            ]
        }
    })
</script>
