<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="example-1">
            <button v-on:click="counter += 1">Add 1</button>
            <p>ボタンが押された回数は {{ counter }}回です</p>
        </div>
        <div id="example-2">
            <button v-on:click="greet">Greet</button>
        </div>
        <div id="example-3">
            <button v-on:click="say('hi')">hiっていうボタン</button>
            <button v-on:click="say('nandeyanen')">nandeyanenっていうボタン</button>
        </div>
        <div id="example-4">
            <button v-on:click="warn('Form cannot be submitted yet.', $event)">
                Submit
            </button>
        </div>
    </body>
</html>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            counter: 0
        }
    })
    var example2 = new Vue({
        el: '#example-2',
        data: {
            name: 'Vue.js'
        },
        methods: {
            greet: function () {
                alert('Hello' + this.name + '!')
                if (event) {
                    alert(event.target.tagName)
                }
            }
        }
    })
    var example3 = new Vue({
        el: '#example-3',
        methods: {
            say: function (message) {
                alert(message)
            }
        }
    })
    var example4 = new Vue({
        el: '#example-4',
        methods: {
            warn: function (message, event) {
                if (event) event.preventDefault()
                alert(message + event)
            }
        }
    })
</script>
