<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="message">
            <input v-model.lazy="message" placeholder="edit me">
            <p>Message is : {{ message }}</p>
        </div>
        <br>
        <br>
        <div id="multi-message">
            <span>Multiline message is :</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="multiline edit me"></textarea>
        </div>
        <br>
        <br>
        <div id="check">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>
        </div>
        <br>
        <br>
        <div id="multi-check">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="mickey" value="Mickey" v-model="checkedNames">
            <label for="mickey">Mickey</label>
            <input type="checkbox" id="minnie" value="Minnie" v-model="checkedNames">
            <label for="minnie">Minnie</label>
            <br>
            <span>Checked Name is: {{ checkedNames }}</span>
        </div>
        <br>
        <br>
        <div id="radio">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>You picked: {{ picked }}</span>
        </div>
        <br>
        <br>
        <div id="select">
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <br>
        <br>
        <div id="multi-select">
            <select v-model="selectValues" multiple>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected multiple: {{ selectValues }}</span>
        </div>
        <br>
        <br>
        <div id="for-select">
            <select v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <span>おみくじ: {{ selected }}</span>
        </div>
        <br>
        <br>
        <div id="toggle">
            <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
            <br>
            <span>Toggle is: {{ toggle }}</span>
        </div>
        <br>
        <br>
        <div id="select-2">
            <select v-model="selected">
                <option v-bind:value="{ number:123 }">123</option>
            </select>
            <br>
            <span>Selected type: {{ typeof selected }}</span>
            <span>Number: {{ selected.number }} </span>
        </div>
    </body>
</html>

<script>
    var mes = new Vue({
        el: '#message',
        data: {
            message: ''
        }
    })
    var multimes = new Vue({
        el: '#multi-message',
        data: {
            message: ''
        }
    })
    var check = new Vue({
        el: '#check',
        data: {
            checked: false
        }
    })
    var multi_check = new Vue({
        el: '#multi-check',
        data: {
            checkedNames: []
        }
    })
    var radio = new Vue({
        el: '#radio',
        data: {
            picked: ''
        }
    })
    var select = new Vue({
        el: '#select',
        data: {
            selected: ''
        }
    })
    var multi_select = new Vue({
        el: '#multi-select',
        data: {
            selectValues: []
        }
    })
    var for_select = new Vue({
        el: '#for-select',
        data: {
            selected: '',
            options: [
                { text: '1', value: '1を選んだあなたのラッキーカラーは赤！'},
                { text: '2', value: '2を選んだあなたのラッキーカラーは水色！'},
                { text: '3', value: '3を選んだあなたのラッキーカラーは黄色！'},
                { text: '4', value: '4を選んだあなたのラッキーカラーはピンク！'},
                { text: '5', value: '5を選んだあなたのラッキーカラーは白！'},
            ]
        }
    })
    var toggle = new Vue({
        el: '#toggle',
        data: {
            toggle: ''
        }
    })
    var select2 = new Vue({
        el: '#select-2',
        data: {
            selected: {
                number: 0
            }
        }
    })
</script>
