<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="message">
            <input v-model="message" placeholder="edit me">
            <p>Message is : {{ message }}</p>
        </div>
        <div id="multi-message">
            <span>Multiline message is :</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="multiline edit me"></textarea>
        </div>
        <div id="check">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>
        </div>
    </body>
</html>

<script>
    var mes = new Vue({
        el: '#message',
        data: {
            message: ''
        }
    })
    var multimes = new Vue({
        el: '#multi-message',
        data: {
            message: ''
        }
    })
    var check = new Vue({
        el: '#check',
        data: {
            checked: false
        }
    })
</script>
