<html>
    <head>
        <link rel='stylesheet' href='css/index.css'>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="style">
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">赤くて30pxの文字</div>
        </div>
        <div id="style_object">
            <div v-bind:style="styleObject">青くて13pxの文字</div>
        </div>
        <div id="override">
            <div v-bind:style="[baseStyles, overrideStyles]">緑で20pxの文字が表示されていればオーバーライドできている</div>
        </div>
        <div id="mlutiple">
            <div v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">ブラウザ的にflexになっていればよさそう</div>
        </div>
    </body>
</html>

<script>
    var app = new Vue({
        el: '#style',
        data: {
            activeColor: 'red',
            fontSize: 30
        }
    })
    var app2 = new Vue({
        el: '#style_object',
        data: {
            styleObject: {
                color: 'blue',
                fontsize: '13px'
            }
        }
    })
    var app3 = new Vue({
        el: '#override',
        data: {
            baseStyles: {
                color: 'black',
                fontSize: '10px'
            },
            overrideStyles: {
                color: 'green',
                fontSize: '20px'
            }
        }
    })
    var app4 = new Vue({
        el: '#mlutiple'
    })
</script>
